body {
    margin: 0px;
    padding: 0px;
}

#title {
    font-size: 80px;
    text-align: center;
    background-color: seagreen;
    padding: 30px;
}

nav {
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 10px 50px;
    font-size: 20px;
}

nav a:hover {
    background-color: tomato;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #parent {
    padding-top: 60px;
}

#parent {
    padding: 10px;
}

h1 {
    padding: 0px 10px 10px 10px;
}

main {
    padding: 0px 0px 0px 10px;
}